
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,500;0,900;1,900&display=swap');

/* Global elements*/
html {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffd7b5;
    color: #626262;
}

.hero {
    height: 80vh;
    width: 94vw;
    padding-left: 3vw;
    padding-right: 3vw;
    display: grid;
    margin-top: 15vh;
  
}

.hero-header {
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    line-height: 100%;
}
.hero-p {
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.hero-image{
    grid-column: 5/6;
  grid-row: 2/5;
  width: 50vw;
  margin-left: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

button {
	padding: 10px;
	width: 110px;
	display: block;
	border: 2px solid #fff;
	border-radius: 4px;
	background-color:#FF443A;
	font-size: 0.8rem
}

footer{ 
    background-color:#FF443A;
    font-size: 0.75rem;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: end;
    width: 100%;
    padding: 5px 5px;
  }
    /* Navigation Pane */
    nav{
        text-transform: uppercase;
        text-align: right inline-block;
        margin: 10px;
        padding: 10px;
        float:right;

    }
    .navbar {
        overflow: hidden;
        background-color: transparent;
    }
    
    .navbar a {
        float: right;
        font-size: 16px;
        color: #F2F3F4;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        float: right;
        text-transform: uppercase;
        text-align: right inline-block;
    }
    
    .dropdown {
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: #F2F3F4;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color:#FF443A;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FF443A;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        float: none;
        color:#F2F3F4;
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .github, .linkedin, {
        width: 36px;
        height: 36px;
        
      }
      .nav-header {
        height: 10vh;
        padding: 2.5vh 3vw 2.5vh 3vw;
        position: fixed;
        z-index: 1;
        background-color: #FF443A;
        top: 0;
        width: 100%;
        box-sizing: border-box;
      }
      
      .nav-header__logo {
        height: px;
        width: 36x;
        padding: 0px 5px;
      }
      
      .nav-header__socials {
        position: relative;
        display: block;
        float: right;
        padding-top: 10px;
      }
  
/* Contact Form Page CSS */
.contact-content {
    margin-top: 20vh;
    margin-bottom: 10vh;
  }
  
  .contact {
    margin: 0 10vw;
  }
  .contact h1 {
    text-align: center;
    margin: 0;
  }
  
  .contact-p p {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    background-color: #ededed;
    border-radius: 6px;
    border-top: 6px solid #FF443A;
    color: #626262;
    padding: 15px;
  }
  
  #contact-form {
    margin-top: 75px;
  }
  #contact-form div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: auto;
    margin-top: 15px;
  }
  #contact-form input, #contact-form textarea {
    border-radius: 6px;
    padding: 5px;
  }
  
  .submit-button {
    background-color: #FF443A;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
    box-sizing: border-box;
    border: none;
    padding: 0.5vh;
    display: inline-block;
    width: 130px;
    align-self: center;

  }
  
  .submit-button:hover {
    background-color: #ededed;
    color: #FF443A;
    font-weight: 600;
    box-sizing: border-box;
  }
  
  .submit-button:active {
    transform: translateY(1.5px);
  }
  
  #confirmation {
    align-self: center;
  }
  
  @media only screen and (min-width: 600px) {
    .contact-content {
      display: flex;
      font-size: 1.2rem;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }
  
    .contact-p p {
      display: flex;
      width: 60vw;
      box-sizing: border-box;
      padding: 20px;
    }
  
    .submit-button {
      width: 150px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .contact {
      margin: 0 5vw 10vh;
    }
  
    .contact-content {
      display: flex;
      font-size: 1.5rem;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }
  
    .contact-p p {
      display: flex;
      text-align: center;
      width: 50vw;
      box-sizing: border-box;
      padding: 30px;
    }
  
    .submit-button {
      width: 170px;
    }
  }
  @media only screen and (min-width: 1300px) {
    .contact-p p {
      width: 35vw;
    }
  }
/* Media queries */
@media only screen and (min-width: 600px) {
    .hero-header {
      font-size: 5rem;
    }
  
    .hero-p {
      font-size: 1.5rem;
    }
  
    footer {
      font-size: 0.85rem;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .hero-header {
      font-size: 6.5rem;
    }
  
    .hero-p {
      font-size: 2.3rem;
    }
  
    .hero-image {
      height: 640px;
      width: 510px;
    }
  
    footer {
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: 600px) {
    .page-title {
      font-size: 2.5rem;
    }
  
    .nav-header__logo {
      height: 45px;
      width: 45px;
    }
  
    .github, .twitter, .linkedin, .instagram {
      width: 42px;
      height: 42px;
    }
  
    .menu {
      width: 130px;
    }
    .menu li {
      padding-left: 35px;
      font-size: 28px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .page-title {
      font-size: 3rem;
    }
  
    .nav-header__logo {
      height: 55px;
      width: 55px;
    }
  
    .github, .twitter, .linkedin, .instagram {
      width: 48px;
      height: 48px;
    }
  
    .menu {
      width: 150px;
      left: -30px;
    }
    .menu li {
      padding-left: 50px;
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 400px) {
    .page-title {
      font-size: 1.4rem;
    }
  
    .nav-header__logo {
      height: 35px;
      width: 35px;
    }
  
    .github, .linkedin, {
      width: 32px;
      height: 32px;
    }